services:
  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    restart: unless-stopped

    labels:
      - coolify.type=service
      - coolify.service.subType=service

    environment:
      - SERVICE_FQDN_NGINX

    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://127.0.0.1:80" ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 2m

    depends_on:
      - app

    networks:
      - lumen_net

  app:
    build: .
    container_name: app
    restart: unless-stopped

    working_dir: /var/www/html

    labels:
      - coolify.type=service
      - coolify.service.subType=application

    volumes:
      - './storage:/var/www/html/storage'

    environment:
      - 'APP_NAME=${APP_NAME:-SUCATA}'
      - 'APP_DEBUG=${APP_DEBUG:-false}'
      - 'APP_KEY=${SERVICE_BASE64_64_KEY}'
      - 'APP_URL=${APP_URL:-https://localhost}'
      - 'APP_TIMEZONE=${APP_TIMEZONE:-America/Sao_Paulo}'
      - 'APP_LOCALE=${APP_LOCALE:-pt-BR}'

      - 'LOG_CHANNEL=${LOG_CHANNEL:-stack}'
      - 'LOG_SLACK_WEBHOOK_URL=${LOG_SLACK_WEBHOOK_URL}'

      - 'DB_CONNECTION=${DB_CONNECTION:-mysql}'
      - 'DB_HOST=${DB_HOST:-db}'
      - 'DB_PORT=${DB_PORT:-3306}'
      - 'DB_DATABASE=${DB_NAME:-sucata}'
      - 'DB_USERNAME=${SERVICE_USER_MARIADB}'
      - 'DB_PASSWORD=${SERVICE_PASSWORD_MARIADB}'

      - 'CACHE_DRIVER=${CACHE_DRIVER:-file}'
      - 'QUEUE_CONNECTION=${QUEUE_CONNECTION:-sync}'

      - 'JWT_SECRET=${SERVICE_BASE64_64_SECRET}'
      - 'JWT_ALGO=${JWT_ALGO:-HS256}'

    healthcheck:
      test: [ "CMD", "pgrep", "-f", "php-fpm" ]
      interval: 30s
      timeout: 5s
      retries: 3

    depends_on:
      - db

    networks:
      - lumen_net

  db:
    image: mariadb:11
    container_name: db
    restart: unless-stopped

    labels:
      - coolify.type=service
      - coolify.service.subType=database

    environment:
      - 'MARIADB_ROOT_PASSWORD=${SERVICE_PASSWORD_MARIADBROOT}'
      - 'MARIADB_USER=${SERVICE_USER_MARIADB}'
      - 'MARIADB_PASSWORD=${SERVICE_PASSWORD_MARIADB}'
      - 'MARIADB_DATABASE=${DB_NAME:-sucata}'
      - 'TZ=America/Sao_Paulo'

    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_bin'
      - '--max-allowed-packet=128M'
      - '--innodb-log-file-size=64M'
    volumes:
      - mariadb_data:/var/lib/mysql

    networks:
      - lumen_net

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "mysql", "--silent" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  lumen_net:
    driver: bridge

volumes:
  mariadb_data:
