services:
  sucata:
    build: .
    container_name: sucata
    restart: unless-stopped

    working_dir: /var/www/html

#    volumes:
#      - ./:/var/www/html

    environment:
      - SERVICE_FQDN_SUCATA_80
      - 'APP_NAME=${APP_NAME:-SUCATA}'
      - 'APP_ENV=${APP_ENV:-production}'
      - 'APP_DEBUG=${APP_DEBUG:-false}'
      - 'APP_KEY=${SERVICE_BASE64_64_KEY}'
      - 'APP_URL=${SERVICE_URL_SUCATA}'
      - 'APP_TIMEZONE=${APP_TIMEZONE:-America/Sao_Paulo}'
      - 'APP_LOCALE=${APP_LOCALE:-pt-BR}'

      - 'LOG_CHANNEL=${LOG_CHANNEL:-stack}'
      - 'LOG_SLACK_WEBHOOK_URL=${LOG_SLACK_WEBHOOK_URL}'

      - 'DB_CONNECTION=${DB_CONNECTION:-mysql}'
      - 'DB_HOST=${DB_HOST:-db}'
      - 'DB_PORT=${DB_PORT:-3306}'
      - 'DB_DATABASE=${DB_NAME:-sucata}'
      - 'DB_USERNAME=${SERVICE_USER_MARIADB}'
      - 'DB_PASSWORD=${SERVICE_PASSWORD_MARIADB}'

      - 'CACHE_DRIVER=${CACHE_DRIVER:-file}'
      - 'QUEUE_CONNECTION=${QUEUE_CONNECTION:-sync}'

      - 'JWT_SECRET=${SERVICE_BASE64_64_SECRET}'
      - 'JWT_ALGO=${JWT_ALGO:-HS256}'

    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://127.0.0.1:80" ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 2m

    depends_on:
      - db

    networks:
      - lumen_net

  db:
    image: mariadb:11
    container_name: lumen_db
    restart: unless-stopped

    environment:
      - 'MARIADB_ROOT_PASSWORD=${SERVICE_PASSWORD_MARIADBROOT}'
      - 'MARIADB_USER=${SERVICE_USER_MARIADB}'
      - 'MARIADB_PASSWORD=${SERVICE_PASSWORD_MARIADB}'
      - 'MARIADB_DATABASE=${DB_NAME:-sucata}'
      - 'TZ=America/Sao_Paulo'

    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_bin'
      - '--max-allowed-packet=128M'
      - '--innodb-log-file-size=64M'
    volumes:
      - mariadb_data:/var/lib/mysql

    ports:
      - "3306:3306"

    networks:
      - lumen_net

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "mysql", "--silent" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  lumen_net:
    driver: bridge

volumes:
  mariadb_data:
